.header__top {
    padding: 12px 0;
    background-color: var(--primary-color);
}

.header__top-list {
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
}

.header__top-link {
    font-family: 'Lato-Regular';
    font-size: 16px;
    line-height: 1;
    color: white;
}

.header__top-btn {
    background: none;
    border: none;
    font-family: 'Lato-Regular';
    font-size: 16px;
    line-height: 1;
    color: white;
    cursor: pointer;
}

.header__bottom {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.header__nav {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.header__bottom>.logo {
    margin-right: 68px;
}

.logo:hover {
    opacity: 1;
}

.header__search {
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 39px;
    margin: 0 20px;
    padding: 0 0 0 12px;
    border-radius: 88px;
    border: 1px solid white;
}

.header__search>input {
    visibility: hidden;
    width: 74%;
    border: none;
    outline: none;
    font-family: 'Lato-Regular';
    font-size: 16px;
}

.header__search>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    padding: 0;
    background: var(--primary-color);
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.header__search>button:hover,
.header__basket:hover {
    opacity: 0.9;
    transition: all ease .4s;
}

.header__search>button>svg>path {
    fill: white;
}

.header__search_active {
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 39px;
    margin: 0 20px;
    padding: 0 0 0 12px;
    border-radius: 88px;
    border: 1px solid #f5f5f5;
}

.header__search_active>input {
    visibility: visible;
    width: 74%;
    border: none;
    outline: none;
    font-family: 'Lato-Regular';
    font-size: 16px;
}

.header__search_active>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.header__search_active>button>svg>path {
    fill: black;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
}

.header__nav-item>a {
    font-family: 'Lato-SemiBold';
    font-size: 16px;
    line-height: 1;
}

.header__basket {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 138px;
    height: 39px;
    background-color: var(--primary-color);
    border-radius: 100px;
    position: relative;
}

.header__basket-text {
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: white;
}

.header__basket-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 100px;
    background-color: white;
    color: black;
    position: absolute;
    left: 35px;
    top: 3px;
    font-family: 'Inter-Regular';
    font-size: 12px;
}

.header__burger-btn {
    display: none;
    border: none;
    background: none;
}




.main {
    padding: 60px 0;
}

.main__title {
    margin-bottom: 40px;
}

.main__list-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 40px;
}

.main__card {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main__card-image {
    position: relative;
}

.main__card-img {
    width: 100%;
    border-radius: 20px;
}

.main__card-title {
    margin: 20px 0 12px;
    font-family: 'Lato-Bold';
    font-size: 18px;
    flex-grow: 5;
}

.main__card-price {
    font-family: 'Lato-Bold';
    font-size: 22px;
}

.main__card-price>span,
.main__card-price_stock>span {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.main__card-btn {
    display: none;
    width: 80%;
    max-width: 258px;
    height: 48px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 100px;
    font-family: 'Lato-SemiBold';
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.main__card-btn:hover {
    background: white;
    color: var(--secondary-color);
    transition: all ease .2s;
}

.main__card:hover .main__card-btn {
    display: block;
}

.main__card-stock {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43%;
    height: 38px;
    background-color: var(--primary-color);
    border-radius: 100px;
    color: white;
    font-family: 'Lato-SemiBold';
    font-size: 16px;
}

.main__card-prices {
    display: flex;
    gap: 16px;
}

.main__card-price_stock {
    font-family: 'Lato-Bold';
    font-size: 22px;
    color: #808080;
    text-decoration: line-through;
}
.main__card-price_stock>span {
    color: #808080;
}
.main__card-price_orange,
.main__card-price_orange>span {
    color: var(--secondary-color);
}




footer {
    background-color: #0C0C0C;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3%;
    row-gap: 30px;
    grid-template-areas: 
    'logo       address  services public'
    'copyrights contacts services payments';
    padding: 60px 0;
}

.footer__address,
.footer__services,
.footer__public,
.footer__contacts,
.footer__copyrights {
    display: flex;
    flex-direction: column;
}

.footer__address>span,
.footer__address>a,
.footer__services>span,
.footer__services>a,
.footer__contacts>span,
.footer__contacts>a {
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: #f5f5f5;
}

.footer__address>span:first-child,
.footer__services>span:first-child,
.footer__contacts>span:first-child {
    font-family: 'Lato-Bold';
    font-size: 18px;
    color: #f5f5f5;
}

.footer__services,
.footer__contacts {
    justify-content: space-between;
}

.logo {
    grid-area: logo;
}

.footer__address {
    gap: 20px;
    grid-area: address;
}

.footer__services {
    min-height: 135px;
    grid-area: services;
}

.footer__public {
    gap: 20px;
    grid-area: public;
}

.footer__public>a {
    font-family:  'Lato-Regular';
    text-align: right;
    color: #808080;
}

.footer__contacts {
    grid-area: contacts;
}

.footer__copyrights {
    grid-area: copyrights;
}

.footer__copyrights>span {
    display: inline;
    max-width: 322px;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    line-height: 1.3;
    color: #808080;
}

.footer__copyrights>span>a {
    display: inline;
    color: #808080;
    text-decoration: underline;
}

.footer__payments {
    display: flex;
    flex-direction: row-reverse;
    gap: 33px;
    align-items: center;
    grid-area: payments;
}

@media (max-width: 1200px) {

    .header__nav {
        margin-top: 15px;
        order: 5;
    }

    .header__bottom>.logo {
        flex-grow: 1;
    }

    .header__bottom {
        flex-wrap: wrap;
    }
    .header__nav {
        width: 100%;
    }

    .main__list-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer {
        grid-template-columns: 1fr 1fr 150px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
    'logo       address  services '
    'copyrights contacts services '
    'public payments payments';
    }

    .footer__public {
        justify-content: center;
    }

    .footer__public>a {
        text-align: left;
    }

    .footer__services {
        gap: 30px;
    }

    .footer__copyrights>span {
        max-width: 85%;
    }
}

@media (max-width: 780px) {

    .header__top {
        display: none;
    }

    .header__nav,
    .header__nav-list,
    .header__search,
    .header__basket {
        display: none;
    }

    .header__burger-btn {
        display: block;
        margin-left: auto;
    }

    .main__title {
        font-size: 24px;
    }

    .main__list-cards {
        grid-template-columns: 1fr 1fr;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 5%;
        grid-template-areas:
            'logo  address'
            'services contacts'
            'services copyrights'
            'payments public';
    }

    .footer__address {
        gap: 10px;
    }

    .footer__contacts {
        gap: 10px;
    }

    .footer__services {
        gap: 20px;
    }

    .footer__payments {
        margin-top: 42px;
        flex-direction: row;
    }

    .footer__copyrights>span {
        max-width: 320px;
    }
}

@media (max-width: 550px) {

    .container {
        padding: 0 35px;
    }

    .main__list-cards {
        column-gap: 10px;
        row-gap: 30px;
    }

    .main__card-title {
        font-size: 16px;
    }

    .main__card-price {
        font-size: 16px;
    }

    .main__card-price_stock {
        font-size: 16px;
    }

    .footer {
        grid-template-columns: 1fr;
        row-gap: 30px;
        grid-template-areas:
            'logo'
            'address'
            'contacts'
            'services'
            'public'            
            'payments'
            'copyrights';
    }
}


